body {
    font-size: 14px;
    color: #000;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans", "Sample", sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 0;
    display:block;
}

/*НАЧАЛО основные свойства боди*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
    font-size: 24px;
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
}

.properties-black-h3 {
    font-size: 21px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.properties-white-h3 {
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.properties-white-h4 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.properties-black-h4 {
    font-size: 14px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
}

.properties-menu-black-h4 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
/*КОНЕЦ основные свойства боди*/

.container {
    width: 1200px;
}
/*НАЧАЛО ХЕДЕР*/
header {
    min-height: 56px;
    margin: 0 auto;
}

.menu-navigator {
    margin: 0px auto;
    background: #fff;
}

.menu-navigator a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 70px;
}

a.menu-logo {
    position: absolute;
    margin: -15px auto;

}

li:nth-child(5) {
    float: right;
}

li:nth-child(4) {
    float: right;
}


.menu-navigator ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-navigator li {
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}

.menu-navigator a:hover {
  color: #81b3d2;
}

.menu-navigator a:active {
  color: #eee;
}

.menu-navigator a: .... {  /*как сделать цвет для ссылки активной, т.е. находимся на странице???*/
  color: #766357;
}

/*КОНЕЦ ХЕДЕР*/

/*НАЧАЛО MAIN*/
main {
    background: #f2f2f2;
    margin: 0 auto;
}

img.card-welcome {
    position: absolute;
    margin: 70px 380px;
}

img.card-sedona {
    vertical-align: middle;
}

.card-welcome-sedona {
    margin: 0 auto;
    padding: 0px;
    background: url(img/background-1.jpg);
 }

.card-welcome {
    position: absolute;
    width: 460px;   /*как задать положение по центру надприси? Обернуть в блок + :before ???*/

}

/*НАЧАЛО Секция с СЕДОНА - НЕБОЛЬШОЙ ГОРОДОК*/
.about {
    background: #fff;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 56px;

}

.align {
    width: 495px;
    margin: 0 auto;
    text-align: center;
}
/*КОНЕЦ Секция с СЕДОНА - НЕБОЛЬШОЙ ГОРОДОК*/

/*НАЧАЛО Секция с НАСТОЯЩИЙ ГОРОДОК*/
.city {
    margin: 0 auto;
    padding: 0;
}

.city-description {
    width: 34%;
    background: #81b3d2;
    margin: 0 auto;
    padding: 52px 57px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.city-sedona {
    position: relative;
    width: 66%;
    height: 256px;
    background: url(../img/pic-real-city-full.jpg);
    background-position: center;
    float: right;

}
/*КОНЕЦ Секция с НАСТОЯЩИЙ ГОРОДОК*/

/*НАЧАЛО Секция с ЖИЛЬЕ ЕДА СУВЕНИРЫ*/
.pluses-1 {
    margin: 0;
    background: #fff;
}

.pluses-block-1 {
    width: 400px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 86px;
    padding-left: 57px;
    padding-right: 57px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

/*КОНЕЦ Секция с НАСТОЯЩИЙ ГОРОДОК*/

.roсks {
    margin: 0 auto;
    padding: 0;
}

.roсks-pic {
    position: relative;
    width: 66%;
    height: 256px;
    background: url(../img/pic-devil-bridge-full.jpg);
    background-position: center;
    float: left;
}

.roсks-description {
    width: 34%;
    background: #81b3d2;
    margin: 0 auto;
    padding: 52px 57px;
    box-sizing: border-box;
    float: right;
    text-align: center;
}


/*НАЧАЛО Секция с КРАСИВАЯ ДОРОГА МАЛО ТУРИСТОВ*/

.pluses-2 {
    margin: 0;
    background: #f2f2f2;
}

.pluses-block-2 {
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 75px;
    padding-right: 60px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}


/*КОНЕЦ Секция с КРАСИВАЯ ДОРОГА МАЛО ТУРИСТОВ*/
/*НАЧАЛО секция с формой*/
.interest-blok {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 60px;

}

.align-1 {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    margin-bottom: 60px;
}

.booking-title {
    font-size: 30px;
    font-weight: bold;
}

.search-form-book {
    position: relative;
    margin-left: 260px;
}

.modal-content {
    position: absolute;
    bottom: -272px;
    padding: 55px 55px;
    margin: 0px auto;
    width: 570px;
    color: #000;
}

.search-link-block {
    background: #766357;
    padding: 30px 140px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.search-link {
    color: #fff;
    text-decoration: none;
}


form.form-index {
    width: 570px;
    padding: 55px 55px;
    margin: 0px auto;
    background: #fff;
    box-sizing: border-box;
}

/*КОНЕЦ секция с формой*/


/*НАЧАЛО секция с КАРТОЙ*/
iframe {
    margin: 0px auto;
    height: 472px;
    border: 0px;
    vertical-align: middle;
}
/*КОНЕЦ секция с КАРТОЙ*/




/*НАЧАЛО ОТЕЛИ*/
main.hotels {
    width: 1200px;
    background: #f2f2f2;
    margin: 0 auto;
}

/*НАЧАЛО форма с фильтром жилья*/

/*не могу вставить рисунок на бэке формы!!!*/
.filter {
    margin: 0 auto;
    padding: 0;
    background: url("../img/background-2-small.jpg");
}

.filter-inf-house {
    width: 600px;
    margin: 0 auto;
    float: left;
    padding: 30px 70px;
}

.filter-infrastructure {
    width: 300px;
    float: left;
}

.filter-houses {
    width: 300px;
    float: right;
}


.filter-price {
    width: 318px;
    float: right;
    margin: 0 auto;
}

/*КОНЕЦ форма с фильтром жилья*/

/*НАЧАЛО секция с сылками найдень и т.п.*/

.search-found {
    width: 230px;
    float: left;
    display: inline-block;
}

.search-sorting {
    width: 126px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
}

.search-left-size {
    padding: 30px 70px;
    background: #fff;
}

.search-left-size a {
    display: inline-block;
    width: 75px;
    padding-right: 30px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-align: center;
    text-decoration: none;
    opacity: 0.3;
}

a.search-price, a.search-type {
    width: 50px;
}

a.search-select:after {
    content: '';
    display: block;
    width: 100%;
    opacity: 1;
    border-bottom: 2px dotted #81b3d2;
}

a.search-select:hover {
  color: #81b3d2;
}

a.search-select:active:after {
  color: #000;
  opacity: 1;
  border-bottom: none;
 }

            /*блок со стрелками*/
.search-right-size {

}
            /*блок со стрелками*/
/*КОНЕЦ секция с сылками найден и т.п.*/

/*НАЧАЛО секция с отелями*/
.found {        /*--общий для всех блоков*/
    /*width: 1200px;*/
    margin: 0px;
    border-top: 2px solid #f2f2f2;
    padding: 30px 70px;
    background: #fff;
    box-sizing: border-box;
}

.found-houses {  /*--общий для блока с рисунком и отелем*/
    width: 600px;
    float: left;
}

.found-houses-img {
    width: 230px;
    float: left;
}

.found-houses-all { /*--общий для отеля, гостиницей. ценой*/
    width: 370px;
    margin: 0px;
    float: left;
}

.found-houses-info { /*--блок с названием отеля*/
    width: 270px;
    float: left;
}

.found-about { /*--блок с гостиницей и 4000р*/
    width: 270px;
    float: left;
}

.found-houses-type { /*--блок с гостиницей*/
    width: 135px;
    float: left;
}

.found-houses-price { /*--блок с ценой*/
    width: 135px;
    float: right;
}

.found-button { /*--блок с кнопками подробнее и забронировать*/
    width: 270px;
    float: left;
}

.found-button-type-1 {
    width: 120px;
    float: left;
}

.found-button-type-2 {
    width: 150px;
    float: right;
}

.rating {
    width: 110px;
    float: right;
    margin: 0;
    /*padding: 30px 73px;*/

}

.rating-stars {
    float: right;
    padding-bottom: 30px;
}

.rating-number {
    width: 110px;
    background: #f2f2f2;
    float: right;

}

.rating-number p {
    margin: 0 auto;
    text-align: center;
}


/*КОНЕЦ секция с отелями*/



/*НАЧАЛО секция с ФУТЕРОМ*/
footer {
    background: #fff;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 30px;
}

.link-first {
    padding-top: 10px;
    float: left;
    width: 400px;
    margin: 0px auto;
    text-align: center;
}

.link-second {
    float: left;
    width: 400px;
    margin: 0px auto;
    text-align: center;
}

.link-third {
    float: right;
    width: 400px;
    margin: 0px auto;
    text-align: center;
}

.hashtag {
    padding-top: 10px;
    line-height: 26px;
    text-decoration: none;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
}

.social-btn-twitter {
    background: #81b3d2 url("../img/twitter.png") no-repeat center;
}

.social-btn-facebook {
    background: #81b3d2 url("../img/facebook.png") no-repeat center;
}

.social-btn-youtube {
    background: #81b3d2 url("../img/youtube.png") no-repeat center;
}

.html-ac {
    font-size: 14px;
    color: black;
    padding-left: 105px;
    text-decoration: none;
    text-align: center;
    float: left;

}

/*КОНЕЦ ФУТЕРА*/






