body {
    background-color: #f2f2f2;
    /*заменить на белый (пока чтоб было видно) */
    font-size: 14px;
    color: #000;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans", "Sample", "sans-serif";
    text-transform: uppercase;
    display:block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
    font-size: 24px;
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
}

.properties-black-h3 {
    font-size: 21px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.properties-white-h3 {
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.properties-white-h4 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.properties-black-h4 {
    font-size: 14px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
}

.properties-menu-black-h4 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

header.container {
    width: 1200px;
    min-height: 56px;
    max-height: 134px;
    background: #fff;
    margin: -10px auto;
}

main.container {
    width: 1200px;
    background: #abc635;
    margin: -20px auto;
}

.menu-navigatior {
    width: 1200px;
    min-height: 56px;
    background: #C17AA1;
    margin: 0px auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}


.menu-logo {
    position: absolute;
}

.card-sedona {
    margin-left: -40px;
    background: url(img/background-1.jpg);
}

.card-welcome {
    position: absolute;
    width: 460px;
    margin-top: 78px;
    margin-left: 350px;
}

/*НАЧАЛО Секция с СЕДОНА - НЕБОЛЬШОЙ ГОРОДОК*/
.about {
    width: 1200px;
    height: 215px;
    background: #fff;
    margin-top: -26px;
}
/*КОНЕЦ Секция с СЕДОНА - НЕБОЛЬШОЙ ГОРОДОК*/

/*НАЧАЛО Секция с НАСТОЯЩИЙ ГОРОДОК*/
.city-description {
    width: 400px;
    height: 256px;
    background: #81b3d2;
    margin-top: 0px;
    float: left;
}

.city-sedona {
    width: 800px;
    height: 256px;
    background: url(img/pic-real-city.jpg);
    margin-left: -40px;
    margin-top: -14px;
    float: left;
}
/*КОНЕЦ Секция с НАСТОЯЩИЙ ГОРОДОК*/

/*НАЧАЛО Секция с ЖИЛЬЕ ЕДА СУВЕНИРЫ*/
.pluses-block {
    width: 400px;
    height: 330px;
    float: left;
    background: #fff;
}
/*КОНЕЦ Секция с НАСТОЯЩИЙ ГОРОДОК*/

/*НАЧАЛО Секция с НЕБОЛЬШАЯ ПЛОЩАДЬ*/
.roсks-pic {
    width: 800px;
    height: 256px;
    background: url(img/pic-devil-bridge.jpg);
    margin-left: -40px;
    margin-top: -14px;
    float: left;
}

.roсks-description {
    width: 400px;
    height: 256px;
    background: #81b3d2;
    margin-top: 0px;
    float: right;
}
/*КОНЕЦ Секция с НЕБОЛЬШАЯ ПЛОЩАДЬ*/

/*НАЧАЛО Секция с КРАСИВАЯ ДОРОГА МАЛО ТУРИСТОВ*/
.pluses-block-1 {
    width: 400px;
    height: 256px;
    float: left;
    background: #eeeeee;
}
/*КОНЕЦ Секция с КРАСИВАЯ ДОРОГА МАЛО ТУРИСТОВ*/


/*НАЧАЛО ОТЕЛИ*/
main.container-hotels {
    width: 1200px;
    background: #f2f2f2;
    margin: 0px auto;
}

/*НАЧАЛО форма с фильтром жилья*/

/*не могу вставить рисунок на бэке формы!!!*/
.filter {
    width: 1200px;
    height: 216px;
    margin: 0px auto;
    /*background: url("img/background-2-small.jpg");*/
}

.filter-infrastructure {
    width: 300px;
    height: 154px;
    float: left;
}

.filter-houses {
    width: 300px;
    height: 154px;
    float: left;
}


.filter-price {
    width: 318px;
    height: 154px;
    float: right;
    margin-right: -72px;
}

.background-filter {
    width: 1200px;
    height: 216px;
    background: url("img/background-2-small.jpg");
    margin: -15px -40px;
}
/*КОНЕЦ форма с фильтром жилья*/

/*НАЧАЛО секция с сылками найдень и т.п.*/
.search-left-size {
    /*display: inline-block;*/
    background: #fff;
    width: 1200px;
    height: 88px;
}

.search-found {
    width: 186px;
    display: inline-block;
}

.search-sorting {
    width: 126px;
    display: inline-block;
}

.search-select {
    width: 96px;
    display: inline-block;
}

            /*блок со стрелками*/
.search-right-size {

}
            /*блок со стрелками*/
/*КОНЕЦ секция с сылками найден и т.п.*/

/*НАЧАЛО секция с отелями*/
.found-houses {
    width: 217px;
    height: 154px;
    background: #fff;
    margin-top: 2px;
    padding: 31px auto;
    float: left;
}

.found-houses-info {
    width: 260px;
    height: 154px;
    background: #fff;
    margin-top: 2px;
    padding: 31px 0px;
    float: left;
}


/*КОНЕЦ секция с отелями*/


/*КОНЕЦ ОТЕЛИ*/




/*footer.container {
    width: 1200px;
    background: #359845;
    margin: -21px auto;

}*/



